<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light border border-info rounded-top navbar-light m-1">
  <div class="container-fluid">
    <ul class="navbar-nav">
		<li class="nav-item ml-4">
			<a href="https://www.inetsoftwaresolutions.co.uk/">
			 <img src="../assets/image/inet.jpg" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item font-weight-bold ml-4">
        <a routerLink="aboutus" class="nav-link" routerLinkActive="active">
          ABOUT US
        </a>
      </li>
      <li class="nav-item font-weight-bold ml-4">
        <a routerLink="product/create" class="nav-link" routerLinkActive="active">
          PRODUCTS
        </a>
      </li>
      <li class="nav-item font-weight-bold ml-4">
        <a routerLink="services" class="nav-link" routerLinkActive="active">
          SERVICES
        </a>
	  </li>
	  <li class="nav-item font-weight-bold ml-4">
        <a routerLink="contactus" class="nav-link" routerLinkActive="active">
          CONTACT US
        </a>
	  </li>  
	</ul>
	<ul class="navbar-nav ml-auto">
	   <li class="nav-item font-weight-bold">
        <a routerLink="login" class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="login">
          <img src="../assets/image/login.png" class="nav-link" routerLinkActive="active"/>
        </a>
	  </li>
	  <li class="nav-item">
			<a href="https://www.facebook.com/pages/I-Net-Software-Solutions/1008428325869720?eid=ARCKNt68JPTsFkgfBCgBRg9Wg5NxT9mGbFF5DcrMAdAygMGMm1RXj35Ou5rgkb7SG2NE_vrk8CFgMECu&timeline_context_item_type=intro_card_work&timeline_context_item_source=624766578&fref=tag" class="nav-link" data-toggle="tooltip" data-placement="top" title="facebook">
			 <img src="../assets/image/facebook.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="https://www.linkedin.com/company/i-net-software-solutions/about/" class="nav-link" data-toggle="tooltip" data-placement="top" title="linkedin">
			 <img src="../assets/image/linkedin.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="#" class="nav-link" data-toggle="tooltip" data-placement="top" title="twitter">
			 <img src="../assets/image/twitter.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="https://www.bing.com/maps?where=Suite%20317%26318%2C%2050%2CSalisbury%20Road%2C%20Hounslow%2C%20Middlesex%20TW4%206JQ%2C%20GB" class="nav-link" data-toggle="tooltip" data-placement="top" title="maps">
			 <img src="../assets/image/maps.png" class="nav-link"/>
			</a>
		</li>
	</ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>