<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light border border-info rounded-top navbar-light m-1">
  <div class="container-fluid">
    <ul class="navbar-nav">
		<li class="nav-item ml-4">
			<a href="https://www.inetsoftwaresolutions.co.uk/">
			 <img src="../assets/image/inet.jpg" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item font-weight-bold ml-4">
        <a routerLink="aboutus" class="nav-link" routerLinkActive="active">
          ABOUT US
        </a>
      </li>
      <li class="nav-item font-weight-bold ml-4">
        <a routerLink="product/create" class="nav-link" routerLinkActive="active">
          PRODUCTS
        </a>
      </li>
      <li class="nav-item font-weight-bold ml-4">
        <a routerLink="services" class="nav-link" routerLinkActive="active">
          SERVICES
        </a>
	  </li>
	  <li class="nav-item font-weight-bold ml-4">
        <a routerLink="contactus" class="nav-link" routerLinkActive="active">
          CONTACT US
        </a>
	  </li>  
	</ul>
	<ul class="navbar-nav ml-auto">
	   <li class="nav-item font-weight-bold">
        <a routerLink="login" class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="login">
          <img src="../assets/image/login.png" class="nav-link" routerLinkActive="active"/>
        </a>
	  </li>
	  <li class="nav-item">
			<a href="https://www.facebook.com/INETSoftwareSolutions/" class="nav-link" data-toggle="tooltip" data-placement="top" title="facebook">
			 <img src="../assets/image/facebook.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="https://www.linkedin.com/company/i-net-software-solutions/about/" class="nav-link" data-toggle="tooltip" data-placement="top" title="linkedin">
			 <img src="../assets/image/linkedin.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="https://twitter.com/Inetsolutions31" class="nav-link" data-toggle="tooltip" data-placement="top" title="twitter">
			 <img src="../assets/image/twitter.png" class="nav-link"/>
			</a>
		</li>
	  <li class="nav-item">
			<a href="https://www.bing.com/maps?where=Suite%20317%26318%2C%2050%2CSalisbury%20Road%2C%20Hounslow%2C%20Middlesex%20TW4%206JQ%2C%20GB" class="nav-link" data-toggle="tooltip" data-placement="top" title="maps">
			 <img src="../assets/image/maps.png" class="nav-link"/>
			</a>
		</li>
	</ul>
  </div>
</nav>

<div class="card m-1">
  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides"
               [fullscreen]="fullscreen"
               [enableZoom]="enableZoom"
               [enablePan]="enablePan">
    </slideshow>
  </div>
 <div  class="card m-1 mx-auto bg-secondary w-100">
	<form [formGroup]="" novalidate class="form-group float-center">
			<div class="row mt-4 d-flex justify-content-center">
				<div class="form-group col-md-2">
					<input type="text" class="form-control form-control-lg" id="jobtitle" placeholder="Job Title">
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control form-control-lg" id="location" placeholder="Town City Postcode">
				</div>
				<div class="form-group mt-1 col-md-2">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
	</form>
  </div>
<div>
  <router-outlet></router-outlet>
</div>
</div>